a{
    text-decoration: none;
    color: white;
    left: 30rem;
}
.nav-items{
    display: flex;
}
.nav-items1{
    display: flex;
}
.item1{
    margin-left: 23rem;
        font-size: .9rem;
}
.item {
        margin-left: 1rem;
        font-size: .9rem;
    }

    

.animate{
    position: absolute;
    color: white;
    left: 350px;
    bottom: 250px;
}
.animate1{
    position: absolute;color :white;left: 350px;bottom: 150px;
    font-size: 40px;
}

.btn-learn{
    position: absolute;
    color: white;
    border: 1px solid;
    background: none;
    padding: 1rem 3rem;
    left: 350px;
    bottom: 150px;
}

.btn-learn:hover{
    color: black;
    background-color: white;
    
}
.animate2{
    
    position: absolute;
    color: white;
    left: 340px;
    bottom: 190px;
    font-size: 47px;
    font-weight: bold;
}

.animate3{
    position: absolute;
    color: white;
    left: 344px;
    bottom: 250px;
    font-size: 47px;
    font-weight: bold;
}
.btn-learn1{ position: absolute;
    color: white;
    border: 1px solid;
    background: none;
    padding: 1rem 3rem;
    left: 350px;
    bottom: 180px;
}
.btn-learn1:hover{
    color: black;
    background-color: white;
    
}
.animate4{
    position: absolute;
    color: white;
    left: 350px;
    bottom: 280px;
    font-size: 19px;
}
.animate5{
    position: absolute;
    color: white;
    left: 350px;
    bottom: 220px;
    font-size: 50px;
    font-weight: bold;
}

.btn-learn2{
    position: absolute;
    color: white;
    border: 1px solid;
    background: none;
    padding: 1rem 3rem;
    left: 350px;
    bottom: 160px;

}
.btn-learn2:hover{
    color: black;
    background-color: white;
}
.animate6{
    position: absolute;
    color: white;
    left: 340px;
    bottom: 240px;
    font-size: 45px;
    font-weight: bold;
}

.btn-learn3{ position: absolute;
    color: white;
    border: 1px solid;
    background: none;
    padding: 1rem 3rem;
    left: 350px;
    bottom: 180px;
}
.btn-learn3:hover{
    color: black;
    background-color: white;
    
}
.animate7{ position: absolute;
    color: white;
    left: 340px;
    bottom: 350px;
    font-size: 45px;
    font-weight: bold;
}
.animate8{ position: absolute;
    color: white;
    left: 340px;
    bottom: 300px;
    font-size: 45px;
    font-weight: bold;
}
.animate9{ position: absolute;
    color: white;
    left: 340px;
    bottom: 250px;
    font-size: 45px;
    font-weight: bold;
}

.btn-learn4{ position: absolute;
    color: white;
    border: 1px solid;
    background: none;
    padding: 1rem 3rem;
    left: 350px;
    bottom: 180px;
}
.btn-learn4:hover{
    color: black;
    background-color: white;
    
}
#logo{
    position: fixed; 
    top: 32px;
    left: 370px;
    z-index: 44;
    width: 210px;
    height: auto;
}
.navbar{
    display: flex;
    position: fixed;
    top: 2.9rem;
    left: 40rem;
    z-index: 44;
}
.nav1{
    color: white;
    margin-left: 5rem;
    font-size: .8rem;
}

.nav-item2{
    
   
    background-color: black;
    background-size: 20rem;
    height: 70px;
    margin: 0;
    width: 2055px;
   
}